@model List<talentacquisition_jobplacement_mvc.Models.CV>

@{
    ViewData["Title"] = "My Applications";
}

<h1>My Applications</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @Html.Raw(TempData["Success"])
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Applied</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cv in Model)
        {
            <tr>
                <td>@cv.Position.Title</td>
                <td>@cv.CreatedAt.ToShortDateString()</td>
                <td>
                    <a asp-action="Details" asp-route-id="@cv.Id" class="btn btn-sm btn-info">View</a>
                    <a asp-action="Download" asp-route-id="@cv.Id" class="btn btn-sm btn-success">Download PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>